fastapi==0.129.0
uvicorn==0.41.0
sqlalchemy==2.0.46
pydantic==2.12.5
python-dotenv==1.2.1
requests==2.32.5
python-multipart==0.0.22
anyio==4.12.1
typing-extensions==4.15.0
bcrypt==3.2.2
PyJWT==2.11.0
pandas==3.0.1
numpy==2.4.2
pillow==12.1.1
passlib==1.7.4
apscheduler
pytz
reportlab